header{
    background-color: #e2e2e2;
    height: 100px;
    width: 100%;
}
header div {
    text-align: center;
    padding-top: 10px;;
}
nav {
    height: 50px;
    width: 100%;
    background-color: blue;
}

.formularioNavegador{
    float: right;
    padding-top: 15px;
    padding-right: 20px;;
}
.formularioNavegador input{
    border-radius: 5px;;
}

.divRedireccion{
    float: right;
    padding-right: 20px;
    margin-right: 10px;;
}
.divRedireccion p {
    margin-left: 15px;;
}
.divRedireccion a {
    text-decoration: none;
    color: black;
}
.divRedireccion:hover{
    background-color: #4b77f7;
}

footer{
    background-color: #18237b;
    width:100%;
    height: 250px;
}
.divFooter p {
    color: #888dbe ;
}

.divFooter{
    margin-right: 20px;
}
.divFooter :first-child {
    padding-top: 20px;
    text-align: center;
}
.divFooter :last-child {
    float: right;
}
.divFooter hr{
    margin: center;
    width: 95%;
    border: 1px solid #131b5d;
}