header{
    background-color: #e2e2e2;
    height: 100px;
    width: 100%;
}
header div {
    text-align: center;
    padding-top: 10px;;
}
nav {
    height: 50px;
    width: 100%;
    background-color: blue;
    margin-bottom: 20px;
}

.formularioNavegador{
    float: right;
    padding-top: 15px;
    padding-right: 20px;;
}
.formularioNavegador input{
    border-radius: 5px;;
}

.divRedireccion{
    float: right;
    padding-right: 20px;
    margin-right: 10px;;
}
.divRedireccion p {
    margin-left: 15px;;
}
.divRedireccion a {
    text-decoration: none;
    color: black;
}
.divRedireccion:hover{
    background-color: #4b77f7;
}

.divRedireccionIndex{
    float: left;
    padding-right: 20px;
    margin-right: 10px;;
}
.divRedireccionIndex p {
    margin-left: 15px;
    
}
.divRedireccionIndex a {
    text-decoration: none;
    color: white;
}
.divRedireccionIndex:hover{
    background-color: #4b77f7;
}

footer{
    background-color: #18237b;
    width:100%;
    height: 250px;
}
.divFooter p {
    color: #888dbe ;
}

.divFooter{
    margin-right: 20px;
}
.divFooter :first-child {
    padding-top: 20px;
    text-align: center;
}
.divFooter :last-child {
    float: right;
}
.divFooter hr{
    margin: center;
    width: 95%;
    border: 1px solid #131b5d;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.divCarta{
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
    flex-direction: column;
    margin:auto;
    text-align: center;
    background-color: #c8d2f2;
}
.imagen{
    width: 100px;
    height: 100px;
    padding: 10px;
    image-rendering: pixelated;
}
.buttonBorrar{
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}


.divFormularioAgregar{
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(46, 46, 46);
    width: 400px;
    margin: auto;
    padding: 20px;
}

.ocularTarjeta{
    display: none;
}

.basura img{
    width: 30px;
    height: 30px;
}

.divVer{
    margin: auto;
}
.divVer button{
    margin: auto;
    width: 30px;
    height: 30px; 
    background: none;
    border: none;
    padding: 0;
}
.divVer img{
    margin: auto;
    width: 30px;
    height: 30px; 
}
