.planta{
    background-color: rgb(137, 213, 137);
}

.agua{
    background-color: rgb(147, 200, 244);
}

.fuego{
    background-color: rgb(255, 95, 95);
}

.acero{
    background-color: rgb(166, 166, 166);
}

.normal{
    background-color: rgb(255, 233, 207);
}

.bicho{
    background-color: rgb(190, 240, 115);
}

.veneno{
    background-color: rgb(219, 120, 214);
}

.dragón{
    background-color: rgb(189, 135, 250);
}

.psíquico{
    background-color: rgb(237, 90, 141);
}

.eléctrico{
    background-color: rgb(255, 255, 148);
}

.roca{
    background-color: rgb(128, 138, 171);
}

.volador{
    background-color: rgb(175, 223, 243);
}

.hada{
    background-color: rgb(255, 210, 218);
}

.tierra{
    background-color: rgb(183, 159, 117);
}

.lucha{
    background-color: rgb(211, 135, 116);
}

.hielo{
    background-color: rgb(169, 255, 255);
}
